<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>wedbook</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- FontAwesome icon -->
    <link href="fontawesome/css/fontawesome-all.css" rel="stylesheet">
    <!-- Fontello icon -->
    <link href="fontello/css/fontello.css" rel="stylesheet">
    <!--jquery-ui  -->
    <link href="css/jquery-ui.css" rel="stylesheet">
    <!--jquery-rateyo  -->
    <link href="css/jquery.rateyo.css" rel="stylesheet">
    <!-- Template magnific popup gallery -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
    <!-- OwlCarosuel CSS -->
    <link href="css/owl.carousel.css" type="text/css" rel="stylesheet">
    <link href="css/owl.theme.default.css" type="text/css" rel="stylesheet">
    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/w.png">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-6 col-6 d-none d-xl-block d-lg-block d-md-block">
                    <div class="header-text">
                        <p class="wlecome-text">Solusi Pernikahan Impian Anda</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-sm-12 col-12">
                    <div class="header-text text-right">
                        <p>Anda vendor? <a href="vendor-form.html" class="text-white">Bergabunglah bersama kami</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.header-top -->
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                    <!-- header-logo -->
                    <div class="header-logo">
                        <a href="index.html"><img src="images/wedding.png"></a>
                    </div>
                    <!-- /.header-logo -->
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <!-- navigations -->
                    <div id="navigation">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- /.navigations -->
                </div>
                <div class="col-xl-2 col-lg-2 text-right col-md-2 col-sm-12 col-12 ">
                    <!-- header-btn -->
                    <div class="header-btn">
                        <a href="couple-form.html" class="btn btn-sm">Login</a>
                    </div>
                    <!-- /.header-btn -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.header -->
    <!-- page-header -->
    <div class="list-single-carousel">
        <div class="owl-carousel owl-theme owl-second">
            <div class="item">
                <img src="images/vendor-carousel-img-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-4.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-4.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-3.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-4.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="images/vendor-carousel-img-1.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="list-single-second">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="vendor-head text-left">
                            <h2 class="mb10">Gedung Serba Guna Intan Balarea</h2>
                            <p class="vendor-address">jl. Patriot, Garut</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="text-align: center;">
                        <div class="review-total">4.8 </div>
                        <div class="review-text">Reviews</div>
                        <span class="rated"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa  fa-star"></i> <i class="fa fa-star"></i> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="vendor-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                    <!--vendor-details -->
                   
                    <div class="">
                        <div class="card border card-shadow-none">
                            <h3 class="card-header bg-white">Deskiripsi</h3>
                            <div class="card-body">
                                <!--/.vendor-details -->
                                <!--vendor-description -->
                                <p class="lead">Duis vulputate ultrices odio, vitae tristique lectus dapibus sit amet. Vivamus iaculis sagittis libero, at mollis ante semper eu. </p>
                                <p>Duis vulputate ultrices odio, vitae tristique lectus dapibus sit amet. Vivamus iaculis sagittis lisus libero, a aliquet odio pretium non. Curabitur at porta ex, eu pretium felis. Fusce mattis efficitur nisi, non pretium nulla luctus sit amet. </p>
                                <h4>Fasilitas Pokok</h4>
                                <p>Kapasitas</p>
                            </div>
                        </div>
                        <!--vendor-description -->
                        <!-- aminities-block -->
                        <div class="card border card-shadow-none">
                            <h3 class="card-header bg-white">Fasilitas Tambahan</h3>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="animities-list">
                                            <ul class="list-unstyled arrow">
                                                <li>Air conditioning</li>
                                                <li>Bathroom</li>
                                                <li>Hair Dryer</li>
                                                <li>Kitchen</li>
                                                <li>Linen supplied</li>
                                                <li>Non-smoking</li>
                                                <li>Open fireplace </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="animities-list">
                                            <ul class="list-unstyled arrow">
                                                <li> Parking</li>
                                                <li><strike>Pet-friendly</strike> </li>
                                                <li>Towels supplied </li>
                                                <li>TV</li>
                                                <li>Washing machine</li>
                                                <li>Wheelchair</li>
                                                <li>Access Wifi</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.aminities-block -->

                        <div class="card border card-shadow-none ">
                            <!-- review-user -->
                            <div class="card-header bg-white mb0">
                                <div class="review-user">
                                    <div class="user-img"> <img src="images/review-pic-1.jpg" alt="star rating jquery" class="rounded-circle"></div>
                                    <div class="user-meta">
                                        <h5 class="user-name mb-0">Bambang  <span class="user-review-date">14 May, 2018</span></h5>
                                        <div class="given-review">
                                            <span class="rated"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far  fa-star"></i> <i class="far  fa-star"></i></span></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.review-user -->
                            <div class="card-body">
                                <!-- review-descripttions -->
                                <div class="review-descriptions">
                                    <p>Fusce ullamcorper sit amet augue a volutpat. Cras ultrices dictum ante vel iaculis.Donec accumsan consequat massa non gravida. Aenean molestie molestie elementum. Nullam semper vel mauris et semper. </p>
                                </div>
                                <!-- /.review-descripttions -->
                            </div>
                        </div>
                        <!-- /.review-content -->
                        <!-- /.review-block -->
                        <div class="card border card-shadow-none ">
                            <!-- review-user -->
                            <div class="card-header bg-white mb0">
                                <!-- review-user -->
                                <div class="review-user">
                                    <div class="user-img"> <img src="images/review-pic-2.jpg" alt="star rating jquery" class="rounded-circle"></div>
                                    <div class="user-meta">
                                        <h5 class="user-name mb-0">Nina <span class="user-review-date">14 May, 2018</span></h5>
                                        <div class="given-review">
                                            <span class="rated"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far  fa-star"></i> <i class="far  fa-star"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.review-user -->
                            </div>
                            <div class="card-body">
                                <!-- review-descripttions -->
                                <div class="review-descriptions">
                                    <p>Nunc dapibus bibendum urna, in egestas dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra.Fusce ullamcorper sit amet augue a volutpat. Cras ultrices dictum ante vel iaculis. Aenean molestie molestie elementum. Nullam semper vel mauris et semper. </p>
                                </div>
                                <!-- /.review-descripttions -->
                            </div>
                        </div>
                        <!-- /.review-block -->
                    </div>
                    <!-- /.review-content -->
                    <!-- review-form -->
                    <!-- /.review-block -->
                    <div class="card border card-shadow-none leave-review">
                        <div class="card-header bg-white mb0">
                            <h3 class="mb0">Beri produk nilai</h3>
                        </div>
                                
                        <div  class="card-body">
                            <div class="review-rating-select">
                                <img src="images/review-pic-2.jpg" alt="star rating jquery" class="rounded-circle">
                            </div>
                            <div id="rateYo1"></div>
                            <form >
                                <div class="row">
                                    <!-- Textarea -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                        <div class="form-group">
                                            <label class="control-label" for="review"></label>
                                            <textarea class="form-control" id="review" name="review" rows="5" placeholder="Tulis komentar untuk produk"></textarea>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <!-- Button -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <button id="submit" name="submit" class="btn btn-default">Kirim Komentar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.review-form -->
                </div>
                <!-- list-sidebar -->
                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
                    <div class="sidebar-venue">
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h3 class="mb20">Cek Tanggalmu</h3>
                                        </div>
                                        <!--  -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div style="" id="calendar">
                                                <div id="calendar_header"><i class="icon-chevron-left"></i>
                                                  <h1></h1><i class="icon-chevron-right"></i>
                                                </div>
                                                <div id="calendar_weekdays"></div>
                                                <div id="calendar_content"></div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default btn-block"> <i class="fa fa-heart"></i>  Tambah ke wishlist</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- venue-admin -->
                        <div class="vendor-owner-profile mb30">
                            <div class="vendor-owner-profile-head">
                                <div class="vendor-owner-profile-img"><img src="images/admin.jpg" class="rounded-circle" alt=""></div>
                                <h4 class="vendor-owner-name mb0">Diki</h4>
                            </div>
                            <div class="vendor-owner-profile-content">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="mr-2 text-default"><i class="fas fa-fw fa-map-marker-alt"></i></span>Jl. Pasundan, Garut</li>
                                    <li class="list-group-item"><span class="mr-2  text-default"><i class="fas fa-fw fa-phone"></i></span>089686306169</li>
                                    <li class="list-group-item"><span class="mr-2 text-default"><i class="fas fa-fw fa-envelope"></i></span>www.programmerpastel@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.venue-admin -->
                        <!-- social-media -->
                        <div class="mb60">
                            <h4 class="widget-title">Share this </h4>
                            <div class="social-icons">
                                <a href="#" class="icon-square-outline facebook-outline"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="icon-square-outline twitter-outline"><i class="fab fa-twitter"></i> </a>
                                <a href="#" class="icon-square-outline googleplus-outline"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#" class="icon-square-outline instagram-outline"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- /.social-media -->
                    </div>
                </div>
            </div>
            <!-- /.list-sidebar -->
        </div>
    </div>
    <!-- vendor-thumbnail section -->
    <div class="space-small">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2>Similar Vendor</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="vendor-thumbnail">
                        <!-- Vendor thumbnail -->
                        <div class="vendor-img zoomimg">
                            <!-- Vendor img -->
                            <a href="#"><img src="images/vendor-img-1.jpg" alt="" class="img-fluid"></a>
                            <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.Vendor img -->
                        <div class="vendor-content">
                            <!-- Vendor Content -->
                            <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                            <p class="vendor-address">Ahmedabad, Gujarat.</p>
                        </div>
                        <div class="vendor-meta">
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                                <span class="vendor-text">Start From</span></div>
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                                <span class="vendor-text">Guest</span>
                            </div>
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i> 
                                    </span>
                                <span class="rating-count vendor-text">(20)</span></div>
                        </div>
                        <!-- /.Vendor Content -->
                    </div>
                    <!-- /.Vendor thumbnail -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="vendor-thumbnail">
                        <!-- Vendor thumbnail -->
                        <div class="vendor-img zoomimg">
                            <!-- Vendor img -->
                            <a href="#"><img src="images/vendor-img-2.jpg" alt=""  class="img-fluid"></a>
                            <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.Vendor img -->
                        <div class="vendor-content">
                            <!-- Vendor Content -->
                            <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                            <p class="vendor-address">Surat, Gujarat</p>
                        </div>
                        <!-- /.Vendor Content -->
                        <div class="vendor-meta">
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                                <span class="vendor-text">Start From</span></div>
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                                <span class="vendor-text">Guest</span>
                            </div>
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i> 
                                    </span>
                                <span class="rating-count vendor-text">(20)</span></div>
                        </div>
                    </div>
                    <!-- /.Vendor thumbnail -->
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="vendor-thumbnail">
                        <!-- Vendor thumbnail -->
                        <div class="vendor-img zoomimg">
                            <!-- Vendor img -->
                            <a href="#"><img src="images/vendor-img-3.jpg" alt=""  class="img-fluid"></a>
                            <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.Vendor img -->
                        <div class="vendor-content">
                            <!-- Vendor Content -->
                            <h2 class="vendor-title"><a href="#" class="title">Wedding Venue Title Name</a></h2>
                            <p class="vendor-address">Rajkot, Gujarat</p>
                        </div>
                        <!-- /.Vendor Content -->
                        <div class="vendor-meta">
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    $150
                                </span>
                                <span class="vendor-text">Start From</span></div>
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    120+
                                </span>
                                <span class="vendor-text">Guest</span>
                            </div>
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="rating-star">
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rated"></i>
                                    <i class="fa fa-star rate-mute"></i> 
                                    </span>
                                <span class="rating-count vendor-text">(20)</span></div>
                        </div>
                    </div>
                    <!-- /.Vendor thumbnail -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.vendor-thumbnail section -->
    <div class="social-media-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-6 col-12">
                    <h3 class="text-white mb0 mt10">Connect With Us</h3>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12 text-right">
                    <div class="social-icons">
                        <a href="#" class="icon-square"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-twitter"></i> </a>
                        <a href="#" class="icon-square"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.social-media-section -->
    <!-- footer-section -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <!-- footer-widget -->
                    <div class="footer-widget">
                        <a href="#"><h2>Wedbook</h2></a>
                        <p class="mb10 text-white">Solusi pernikahan impian anda</p>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- footer-widget -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3 class="widget-title">
                            Alamat
                        </h3>
                        <p>Jl. Pasundan Kel.Kota Kulon Kec.Garut Kota - Garut
                            <br> 44112</p>
                        <p class="mb0 text-white">089686306169</p>
                        <p class="mb0 text-white">programmerpastel@gmail.com</p>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- footer-widget -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3 class="widget-title">
                            Hubungkan ke
                        </h3>
                        <ul class="listnone">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-widget -->
                <!-- /.footer-widget -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3 class="widget-title">
                            Raih Klien Anda
                        </h3>
                        <p>Anda Vendor ? Tujukkan bisnis Anda, sukseskan bersama.!</p>
                        <a href="vendor-form.html" class="btn btn-default">Daftar Vendor</a>
                    </div>
                </div>
                <!-- /.footer-widget -->
            </div>
        </div>
    </div>
    <!-- tiny-footer-section -->
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
                    <p>© 2018 Wedbook. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menumaker.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/fastclick.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom-script.js"></script>
    <!-- popup gallery -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/jquery.rateyo.min.js"></script>
    <script>
    $(function() {

        $("#rateYo1, #rateYo2, #rateYo3, #rateYo4, #rateYo5 ").rateYo({
            rating: 3.6
        });

    });
    </script>
    <script src="js/return-to-top.js"></script>
</body>


</html>